p {
  background-color: #eee;
  width: 400px;
  height: 60px;
  line-height: 60px;
  padding-left:15px ;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-left:70px ;
  counter-increment:  members-counter;
}
p::after {
  content: "";
  width: 5px;
  height: 100%;
  background-color: red;
  position: absolute;
  right: -5px;
}
p::before {
  content: counter( members-counter);
  background-color: red;
  width: 70px;
  height: 100%;
  position: absolute;
  left: -71px;
  text-align: center;
  color: white;
  font-weight: bold;
}